.home{
    margin: 20vh;
    display: block;
    text-align: center;
}

.home{
    img{
        margin: auto;
        display: block;
        width: 30%;
        filter: opacity(0.5);
    }
    h3{
        color: rgba(53, 53, 53, 0.863);
    }
}